// Define DSL2
nextflow.enable.dsl=2


profiles {

    standard {

        process{
          executor = 'slurm'
          time='30days'
          //clusterOptions = '--nice 200' 
          withLabel: big_mem {
            cpus = 24
            memory = 800.GB
            queue = 'Posit-Slurm-x2idn-1024g-64'
          }

          withLabel: medium_mem {
            cpus = 12
            memory = 500.GB
            queue = 'Posit-Slurm-x2idn-1024g-64'
          }

          withLabel: small_mem {
            cpus = 8
            memory = 16.GB
            queue = 'Posit-Slurm-m5-32g-8'
          }
        }

        
        //no benchmarking, initialise as blank
        params.dobenchmark = false
        params.cell_intervals = [1]
        params.protein_intervals = [1]

        //flags to turn on/off particular models
        params.do_scipenn = true
        params.do_speck = true
        params.do_seurat = true
        params.do_totalvi = true
        params.do_cTPnet = true
        params.do_BABEL = true
        params.do_scLinear = true
        params.do_scMMT = true
        
        params.Renv_yaml_dir= "$projectDir" + '/envs/default_Renv.yml'
      
        //User specified input file prefixes, to avoid using all files in folder
      	params.caret_models = ['rf', 'lm']
        
    }

    benchmarking {
    
      process{
        time='30days'
        executor = 'slurm'
        //clusterOptions = '--nice 200' 
        withLabel: small_mem {
            cpus = 32
            memory = 800.GB
            queue = 'Posit-Slurm-x2idn-1024g-64'
        }

        withLabel: medium_mem {
            cpus = 32
            memory = 800.GB
            queue = 'Posit-Slurm-x2idn-1024g-64'
        }

        withLabel: big_mem {
            cpus = 32
            memory = 800.GB
            queue = 'Posit-Slurm-x2idn-1024g-64'
        }
      }


        params.dobenchmark = true

        //use this to define a random fraction of cells/proteins to use in training i.e. subsample the input data
        //params.protein_intervals = [0.05, 0.10, 0.15, 0.20, 0.25, 0.30, 0.35, 0.40, 0.45, 0.50]
        params.cell_intervals = [0.0625, 0.125, 0.25, 0.5, 1]
        params.protein_intervals = [1]

        //use this one to do leave-one-out analysis
        //params.cell_intervals = ['_B','_CD4 T','_CD8 T','_Mono','_DC','_NK']

        //use this to do one-type-only analysis
        //params.cell_intervals = [B,CD4 T,CD8 T,Mono,DC,NK]

        params.outputdir = './'

        //flags to turn on/off particular models
        params.do_scipenn = false
        params.do_speck = false
        params.do_seurat = false
        params.do_totalvi = false
        params.do_cTPnet = false
        params.do_BABEL = false
        params.do_scLinear= true
        params.do_scMMT= false
        
        params.Renv_yaml_dir= "$projectDir" + '/envs/default_Renv.yml'
      
        //User specified input file prefixes, to avoid using all files in folder
      	params.caret_models = ['rf', 'lm']
    }



}


conda {
  enabled = true 
  cacheDir = "/scratch/jfisher2/protein_prediction/envs" 
  useMamba = true
  createTimeout = '5 h'
}


// nextflow.config
report {
    enabled = true
    file = "report"
    overwrite= true
}